/* HOME: PRIMER SEGMENTO */

.home-1seg {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin: 50px 5px 5px 23px;

    opacity: 1;
    animation-name: fade-left;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;

    @media screen and (min-width: 1320px){

    flex-direction: row;
    justify-content: center;
    }
}

.bicicleta-azul {
    max-width: 350px;
    width: 90%;
    margin: 0px 80px;
    box-shadow: 0 0 10px black;
}

.parrafo-home1seg {
    display: flex;
    justify-content: center;

    max-width: 650px;
    min-width: 100px;
    align-items: center;
    font-size: 20px;
    margin: 25px 10px 50px 10px;
}

/* HOME: SEGUNDO SEGMENTO */

.home-2seg {
    flex-direction: column;

    @include centrado(flex, center, center);

    @media screen and (min-width: 1320px){

           flex-direction: row;
           justify-content: center;
        }

    p {
        text-align: center;
    }
    
}

.bicicleta-blanca {
    max-width: 350px;
    width: 90%;
    box-shadow: 0 0 10px black;
}

.columna-2seg {
    margin: 20px 20px 60px 20px;
    font-size: 20px;

    p {
        font-size: 35px;
        font-weight: bolder;
        color: #263e6b;
        padding: 8px;
    }
}

.cola-2 {
    background-color: #1c4ba3;
}

/* HOME: TERCER SEGMENTO */

.titulo-3seg {

    @include centrado(flex, center, stretch);

    margin: 20px 0px 30px 10px;
    font-size: 50px;
    color: #2067eb;
    width: 100%;
}

.home-3seg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    img { 
        height: 70%;

        @media screen and (min-width: 1320px){
            display: flex;
            height: 100%;
            width: 100%;
        }
    }

    a {
        box-shadow: 0 0 10px black;
        margin: 10px 10px;
    
        display: flex;
        justify-content: center;

        &:hover {
            box-shadow: 0 0 40px #263e6b;
        }
    }    

    @media screen and (min-width: 1320px){

        flex-direction: row;
        justify-content: center;
    
        margin: 30px 30px 50px 30px;
    }
}

