/* SERVICIOS: PRIMER SEGMENTO */

.servicios-1er-parrafo {
    margin: 25px;
    font-size: 20px;

    @media screen and (min-width: 900px){

        margin: 70px;
        }
}

/* SERVICIOS: SEGUNDO SEGMENTO */

.cuadro-2do-segmento {
    margin: 60px 25px 40px 25px;    
    box-shadow: 0 0 10px black;

    display: flex;
    flex-direction: column;

    opacity: 1;
    animation-name: fade-left;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;

    @media screen and (min-width: 1100px){

            margin: 60px 70px 40px 70px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            box-shadow: 0 0 10px black;
            }
}

legend {
    font-size: 25px;
    color: #263e6b;
}

.cuadro-left {
    font-size: 18px;
    width: 80%;
    margin: auto;

    @media screen and (min-width: 1100px){
            font-size: 18px;
            width: 80%;
            margin: 20px 35px 20px 35px;
        }
 }

.cuadro-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: auto;
    width: 80%;
}

/* SERVICIOS: TABLA */

.tabla-titulo {
    display: flex;
    justify-content: center;

    padding-bottom: 25px;
    font-size: 50px;
    color: $color-secundary;
}

table {
    margin: auto;
    width: 95%;
    border: 1px solid #000;
    box-shadow: 0 0 10px black;
    font-size: 10px;

    @media screen and (min-width: 800px){
            font-size: 20px;
        }
}

th, td {
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0px;
    caption-side: bottom;
}

th {
    background: #899ec5;
 }

.tabla-parrafo2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cola {
    background-color: #427ef0;
    box-shadow: 0 0 15px black;}